<section class="hero is-medium is-link">
        <div class="hero-body">
          <p class="title">
            Anyone can cook!
          </p>
          <p class="subtitle">
            Scroll down to learn how today
          </p>
        </div>
      </section>
      <!-- End Hero -->

      <!-- Class List Begin -->
      <section class="section">
          
        <div class="container has-text-centered">
            <h1 class="title">Program Offerings</h1>
        </div>

        <div class="box">
            <h2 class="subtitle">Example Class Title</h2>
            <p class="block">The class time will be here</p>
        </div>

      </section>