<section class="section">
        {{!-- Sign up form --}}
          <div class="box">
            <div class="field">
              <h2 class="subtitle">Sign Up today!</h2>
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input for="email-signup" class="input" type="email" placeholder="johnnyappleseed@gmail.com">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                      <input for="password-signup" class="input" type="password" placeholder="1234">
                  </div>
              </div>
          </div>

        {{!-- Sign in form --}}
          <div class="box">
            <div class="field">
              <h2 class="subtitle">Sign In</h2>
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input for="email-login" class="input" type="email" placeholder="johnnyappleseed@gmail.com">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                      <input for="password-login" class="input" type="password" placeholder="1234">
                  </div>
              </div>
          </div>
</section>